*{
	margin:0;
	padding:0;
}

body {
  padding: 50px;
  font: 16px Georgia, serif;
  color:white;
  background:#333;
  font-size: xx-large;
}
.page {
	margin:2% auto;
	color:white;
}
#page:after{content:"Smartphone Layout";}

.no-narrow{display:none;}

.main {
	border:1px solid #999;
	padding:1%;
	margin-bottom:1px;
	color:black;
	background: #eee;
}

a {
  color: #00B7FF;
}

section>div{padding:20px;}
header {
	text-align: center;
}
nav {
	text-align: center;
}
section {
	text-align: left;
}
footer {
	text-align: center;
	font-size:large;
}
input{
	font-size:large;
}
nav a {margin:0px 10px 0px 0px;}