<table>
	<% for (var i in quizzes) { %>
		<tr>
			<td>
				<a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
			</td>
			<td>
				<a href="/quizzes/<%= quizzes[i].id %>/edit"><button>Editar</button></a>
			</td>
		</tr>
	<% } %>
</table>


<form method="get" action="/quizzes">
	Búsqueda:<p>
	<input type="text" name="search" value="<%= search %>" placeholder="Responda aquí"/>
	<input type="submit" value="Comprobar">
</form>

<a href="/quizzes/new"><button type="button">Crear pregunta</button></a>