<form method="get" action="/quizzes/<%=quiz.id%>/check">
	Pregunta: <%= quiz.get('question') %> <p>
	<input type="text" name="answer" value="<%= answer %>" placeholder="Responda aquí"/>
	<input type="submit" value="Comprobar">
</form>
